<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\node_modules\bootstrap\dist\css\bootstrap.min.css">
    <title>Application de Gestion d'Articles - Accueil</title>
</head>
<body>
    <div class="container">
        <h1>Espace Administrateur</h1>
        <h3>Formulaire de modification de Membre</h3>

        <div class="">
            <form method="post" th:action="@{/admin/addmember/save}" th:object="${member}">
				<div class="mb-3 d-none">
                  <label for="id" class="form-label">Id:</label>
                  <input type="text" class="form-control" id="id" th:field="*{id}" required>
                </div>
                <div class="mb-3">
                  <label for="prenom" class="form-label">Prenom:</label>
                  <input type="text" class="form-control" id="prenom" th:field="*{prenom}" required>
                </div>
                <div class="mb-3">
                  <label for="nom" class="form-label">Nom:</label>
                  <input type="text" class="form-control" th:field="*{nom}" id="nom" required>
                </div>
                <div class="mb-3">
                    <label for="login" class="form-label">Login:</label>
                    <input type="text" class="form-control" th:field="*{login}" id="login" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" th:field="*{password}" id="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
        </div>

        <div class="my-4">
            <a class="btn btn-secondary " th:href="@{/admin/home}">Retourner a la liste</a>
        </div>
        
    </div>
    
    <script src="..\node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
</body>
</html>